*.pyc
*.o
*.so
*.a
*.dSYM
cosmosis/datablock/fortran_test
cosmosis/datablock/cosmosis_section_names.mod
cosmosis-standard-library/
examples/des-y1/des-y1-test/
examples/lsst_forecast/lsst1/
examples/lsst_forecast/lsst_simulation.fits
.bash_history
.ipynb_checkpoints/
*.mod
plots/*.png
demo*_output/
demo*.txt
plots/*.txt
demo_output_*
demo*_output
demo*.txt
config/ups
lib/
share/
ups/
.RData
.Rapp.history
.Rhistory
conda/
config/first
cosmosis-des-library/
cosmosis-ska-forecasting/
modules/Makefile.modules
modules/*
cosmosis/samplers/multinest/multinest_src/mpi
config/shifter-make.log
config/make.temp.sub
dist/
build/
cosmosis.egg-info/
cosmosis/compilers.py
*~
install-record.txt
*.egg-info
.DS_Store
output/*
cosmosis.code-workspace
tmp/
