c_datablock_t
*.log
*.o
*.so
*.dylib
section_t
entry_t
*~
datablock_t
fortran_t
c_datablock_double_array_t
c_datablock_int_array_t
c_datablock_complex_array_t
c_datablock_multidim_double_array_t
ndarray_t
c_datablock_multidim_complex_array_t
c_datablock_multidim_int_array_t
